@tailwind base;

/* h1 {
  @apply text-2xl font-bold;
}
h2 {
  @apply text-xl font-bold;
}
h3 {
  @apply text-lg  font-semibold;
}
h4 {
  @apply text-base font-semibold;
}
h5 {
  @apply text-sm font-semibold;
}
h6 {
  @apply text-xs font-semibold;
}
p {
  @apply text-base;
} */

body {
  @apply transition duration-500 ease-in-out;
}

.middle {
  @apply before:bg-green-900  font-bold transition duration-500 ease-in-out  dark:before:bg-green-300;
}

@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}





.hamburger{
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: all 0.25s;
  position: relative;
}

.harburger-top,
.harburger-middle,
.harburger-bottom{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  transform: translate(0px);
  transition:all 0.5s ;
}
.harburger-middle{
  transform: translateY(7px);
}
.harburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .harburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .harburger-middle{
 display: none;
}
.open .harburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.form-btn{
  width: 360px;
}

@media screen and (max-width: 900px) {

 
  .header-links {
    position: fixed;
    top:5rem;
    right: 0;
    height: 100%;
    width: 45%;
    z-index: 1;
    transform: translateX(100%);
   
    /* background-color: rgb(35 44 58); */
  }
  
  .header-links.open {
    transform: translateX(0%);
  
  }
  
  .link-black{
    color: black;
  }

  .form-btn{
    width: 300px;
  }
  
  }